@model IEnumerable<WatchTowerWebApp.Models.Show>

@{
    ViewData["Title"] = "Your Shows | WatchTower";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Shows</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalEpisode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentEpisode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoWatcher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEpisode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentEpisode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoWatcher.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
